body {background-color:#000000;color:#FFFFFF;font-family:sans-serif;background-image:none;padding:0px;margin:0px;}
a {color:#FFD328;text-decoration:none;}
a:hover {color:#FFFF99;}
a:visited {color:#D4CA68;}
a:active  {color:#DD4444;}
acronym {text-decoration:none;border:none;}
img {border:none;}
input {color:#FFFFFF;background-color:#222222;border-color:#CCCCCC;}
select {color:#FFFFFF;background-color:#222222;border-color:#CCCCCC;}
textarea {color:#FFFFFF;background-color:#222222;border-color:#CCCCCC;overflow:auto;}


.effect {background-image:url('testeffect.jpg');background-repeat:repeat-x;}
.effect2 {background-image:url('testeffect2.jpg');background-repeat:repeat-x;}
.togrey {background-image:url('togrey3.jpg');background-repeat:repeat-x;}
